.header .nav {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 18px;
}

.header .nav div {
  padding-left: 89px;
}

.header .row {
  display: flex;
  align-items: center;
}

.header {
  margin: 26px 50px;
}
