.menu-deroulant img,
.menu-deroulant_exercer-page img,
.menu-deroulant_mondefi-page img {
  width: 11px;
  height: 19px;
}

.menu-deroulant {
  background: rgb(86, 134, 218);
  background: linear-gradient(
    148deg,
    rgba(86, 134, 218, 0.7) 0%,
    rgba(86, 134, 218, 0.15) 100%
  );
  border-radius: 4px;
  padding: 13px 19px 13px 31px;
  display: flex;
  gap: 32px;
  margin-top: 21px;
}

.menu-deroulant_exercer-page {
  background: rgb(255, 175, 23);
  background: linear-gradient(
    148deg,
    rgba(255, 175, 23, 0.7) 0%,
    rgba(255, 175, 23, 0.15) 100%
  );
  border-radius: 4px;
  padding: 13px 19px 13px 31px;
  display: flex;
  gap: 32px;
  margin-top: 21px;
}

.menu-deroulant_mondefi-page {
  background: rgb(119, 189, 29);
  background: linear-gradient(
    148deg,
    rgba(119, 189, 29, 0.7) 0%,
    rgba(119, 189, 29, 0.15) 100%
  );
  border-radius: 4px;
  padding: 13px 19px 13px 31px;
  display: flex;
  gap: 32px;
  margin-top: 21px;
}

.gap-of-type-menu {
  gap: 85px;
}

.gap-of-impression-menu {
  gap: 96px;
}

.menus-deroulants-container {
  margin-bottom: 49px;
}
