.temps-container {
  border-radius: 4px;
  border: solid 3px #5686da;
}

.title-temps-container {
  display: flex;
  align-items: center;
  border-bottom: solid 3px #5686da;
  padding: 15px 35px;
}

// .erase {
//   color: #d40000;
//   text-decoration: underline;
//   font-size: 20px;
//   text-align: right;
//   margin-top: 15px;
// }

// .erase p {
//   margin-right: 35px;
// }

.modes {
  background-color: #a0bbea;
  padding: 13px 154px;
  text-align: center;
  border-radius: 4px;
}

.temp {
  background-color: #e6edfa;
  display: flex;
  justify-content: space-between;
  width: 405px;
  border-radius: 4px;
  padding: 10px 20px;
  flex-direction: row;
  margin-top: 10px;
}

.temp img {
  max-width: 43px;
}

.contenu-temps-container {
  margin: 13px 34px;
}

.temps {
  display: flex;
  align-content: baseline;
  gap: 10px;
}

.modes-mini-section {
  margin-bottom: 50px;
}

.hidden {
  visibility: hidden;
}

.allchecked {
  color: #17a600;
  font-size: 20px;
  text-decoration: underline;
}

.allunchecked {
  color: #d40000;
  font-size: 20px;
  text-decoration: underline;
}

.allchecked-bottons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5686da;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5686da;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}
