.section-phrase-accroche {
  background-image: url(/src/img/BG-image.png);
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  height: 712px;
  width: 1440px;
  display: flex;
  justify-content: center;
}

.section-phrase-accroche div {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
}

.section-phrase-accroche p {
  margin: 0 137px;
}
