.section-phrase-accroche {
  background-image: url(/src/img/BG-image.png);
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  height: 712px;
  display: flex;
  justify-content: center;
}

.section-phrase-accroche div {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
}
